

/* Estilos para el tema jóvenes */
.theme-teens body,
.theme-teens .content-wrapper,
.theme-teens .main-header,
.theme-teens .main-sidebar,
.theme-teens .main-footer,
.theme-teens .card,
.theme-teens .navbar,
.theme-teens .sidebar,
.theme-teens .table,
.theme-teens .card-header,
.theme-teens .card-body 
.theme-teens .modal-header,
.theme-teens .modal-body,
.theme-teens .modal-footer
{
    background-color: #4caf50 !important; /* Verde vibrante */
    color: #0f0101 !important; /* Texto negro */
}

.theme-teens .main-header .navbar,
.theme-teens .main-sidebar,
.theme-teens .main-footer {
    background-color: #388e3c !important; /* Verde oscuro */
    color: #0f0101 !important; /* Texto negro */
}

/* Estilos para el tema adultos */
.theme-adults body,
.theme-adults .content-wrapper,
.theme-adults .main-header,
.theme-adults .main-sidebar,
.theme-adults .main-footer,
.theme-adults .card,
.theme-adults .navbar,
.theme-adults .sidebar,
.theme-adults .table,
.theme-adults .card-header,
.theme-adults .card-body
.theme-adults .modal-content,
.theme-adults .modal-header,
.theme-adults .modal-body,.nav-link  
.theme-adults .modal-footer{
    background-color: #afad7d !important; /* Azul profesional */
    color: #0f0101 !important; /* Texto negro */
}

.theme-adults .main-header .navbar,
.theme-adults .main-sidebar,
.theme-adults .main-footer {
    background-color: #afad7d !important; /* Azul oscuro */
    color: #0f0101 !important; /* Texto negro */
}

/* Estilos para el tema de niños */
.theme-kids body,
.theme-kids .content-wrapper,
.theme-kids .main-header,
.theme-kids .main-sidebar,
.theme-kids .main-footer,
.theme-kids .card,
.theme-kids .navbar,
.theme-kids .sidebar,
.theme-kids .table,
.theme-kids .card-header,
.theme-kids .card-body,
.theme-kids .modal-header,
.theme-kids .modal-body,.nav-link  
.theme-kids .modal-footer {
    background-color: #e8e820 !important; /* Amarillo brillante */
    color: #000000 !important; /* Texto negro */
    font-family: 'Courier New', Courier, monospace;

    font-size: large;
}

.theme-kids .main-header .navbar,.nav-link  
.theme-kids .main-sidebar,
.theme-kids .main-footer {
    background-color: #f1bf62 !important; /* Naranja */
    color: #000000 !important; /* Texto negro */
}

